$react-dates-width-input: 130px !default;
$react-dates-width-arrow: 24px !default;
$react-dates-width-tooltip-arrow: 20px !default;
$react-dates-spacing-vertical-picker: 72px !default;

$gsc-light-blue: #ebf4f8;
$gsc-dark-blue: #1898d1;

$react-dates-color-primary: $gsc-dark-blue !default;
$react-dates-color-primary-shade-0: darken($gsc-dark-blue, 5) !default;
$react-dates-color-primary-shade-1: lighten($gsc-dark-blue, 5) !default;
$react-dates-color-primary-shade-2: darken($gsc-light-blue, 10) !default;
$react-dates-color-primary-shade-3: darken($gsc-light-blue, 5) !default;
$react-dates-color-primary-shade-4: $gsc-light-blue !default;
$react-dates-color-secondary: #007a87 !default;
$react-dates-color-white: #fff !default;
$react-dates-color-gray: #565a5c !default;
$react-dates-color-gray-dark: darken($react-dates-color-gray, 10.5%) !default;
$react-dates-color-gray-light: lighten($react-dates-color-gray, 17.8%) !default;   // #82888a
$react-dates-color-gray-lighter: lighten($react-dates-color-gray, 45%) !default;     // #cacccd
$react-dates-color-gray-lightest: lighten($react-dates-color-gray, 60%) !default;
$react-dates-color-highlighted: #ffe8bc !default;

$react-dates-color-border: #dbdbdb !default;
$react-dates-color-border-light: #dce0e0 !default;
$react-dates-color-border-medium: #c4c4c4 !default;
$react-dates-color-placeholder-text: #757575 !default;
$react-dates-color-text: #484848 !default;
$react-dates-color-text-focus: #007a87 !default;
$react-dates-color-focus: #99ede6 !default;

$react-dates-z-index: 0 !default;
